html{ background-image: url("https://upload.wikimedia.org/wikipedia/en/8/89/General_Hospital_%28Title_Card%2C_2019%29.png");
	background-repeat: no-repeat;
	background-size: 100%;


}
 h2{
 	font-size: 37px;
 	font-style: italic;
	
    
	
}
