html{background-image: url("https://previews.123rf.com/images/vvoennyy/vvoennyy1412/vvoennyy141200316/34827416-background-from-light-brown-color-textured-paper-close-up.jpg");
background-repeat: no-repeat;
	background-size: cover;

}
h2{
	font-size: 29px;
 	font-style: italic;
 	font-weight: bold;
}
table{
	font-size: 24px;
}



